{% include 'parts/header.html' %}
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-body">
        <div id="table-default" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th><button class="table-sort" data-sort="sort-lastname">Nom</button></th>
                <th><button class="table-sort" data-sort="sort-firstname">Prénom</button></th>
                <th><button class="table-sort" data-sort="sort-poste">Poste</button></th>
                <th><button class="table-sort" data-sort="sort-ville">Ville</button></th>
                <th><button class="table-sort" data-sort="sort-email">Email</button></th>
                <th><button class="table-sort" data-sort="sort-tel">Téléphone</button></th>
                <th><button class="table-sort" data-sort="sort-totalspent">Total dépensé</button></th>
                <th><button class="table-sort" data-sort="sort-birthdate">Date de naissance</button></th>
                <th></th>
              </tr>
            </thead>
            <tbody class="table-tbody" id="clientstable">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal modal-blur fade" id="modal-create" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title">Nouveau Client</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Nom</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Nom de famille" id="modal-create-lastname">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Prénom</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Prénom" id="modal-create-firstname">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Téléphone</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="06..." id="modal-create-phone">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Email" id="modal-create-email">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-8">
              <div class="mb-3">
                <label class="form-label">Adresse</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Numéro & rue" id="modal-create-address">
              </div>
            </div>

            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Ville</label>
                <input list="liste-villes" class="form-control" id="modal-create-city"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Date de naissance</label>
                <input type="text" name="input-mask" class="form-control" data-mask="00/00/0000"
                  data-mask-visible="true" placeholder="00/00/0000" autocomplete="off" id="modal-create-birthdate">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Annuler
          </a>
          <button class="btn btn-primary ms-auto" data-bs-dismiss="modal">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
            Créer
            </a>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title">Modifier un client</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Nom</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Nom de famille" id="modal-edit-lastname">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Prénom</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Prénom" id="modal-edit-firstname">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Téléphone</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="06..." id="modal-edit-phone">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Email @tmail.com" id="modal-edit-email">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-8">
              <div class="mb-3">
                <label class="form-label">Adresse</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Numéro & rue" id="modal-edit-address">
              </div>
            </div>

            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Ville</label>
                <input list="liste-villes" class="form-control" id="modal-edit-city"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Date de naissance</label>
                <input type="text" name="input-mask" class="form-control" data-mask="00/00/0000"
                  data-mask-visible="true" placeholder="00/00/0000" autocomplete="off" id="modal-edit-birthdate">
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Annuler
          </a>
          <button class="btn btn-primary ms-auto" data-bs-dismiss="modal">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
            Mettre à jour
            </a>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z" />
          <path d="M12 9v4" />
          <path d="M12 17h.01" />
        </svg>
        <h3>Etes vous sûr?</h3>
        <div class="text-muted">Vous êtes sur le point de supprimer <strong id="modal-delete-name"></strong>. Cette
          action est irréversible. (Hitman #993 sera envoyé sur site pour s'en charger)</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                Retour
              </a></div>
            <div class="col"><a class="btn btn-danger w-100" data-bs-dismiss="modal" id="modal-delete-confirm">
                Continuer
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<datalist id="liste-villes">
  <option value='Paris'></option>
  <option value='Marseille'></option>
  <option value='Lyon'></option>
  <option value='Toulouse'></option>
  <option value='Nice'></option>
  <option value='Nantes'></option>
  <option value='Strasbourg'></option>
  <option value='Montpellier'></option>
  <option value='Bordeaux'></option>
  <option value='Lille'></option>
  <option value='Rennes'></option>
  <option value='Reims'></option>
  <option value='Le Havre'></option>
  <option value='Saint-Étienne'></option>
  <option value='Toulon'></option>
  <option value='Grenoble'></option>
  <option value='Dijon'></option>
  <option value='Angers'></option>
  <option value='Villeurbanne'></option>
  <option value='Saint-Denis'></option>
  <option value='Le Mans'></option>
  <option value='Nîmes'></option>
  <option value='Aix-en-Provence'></option>
  <option value='Brest'></option>
  <option value='Clermont-Ferrand'></option>
  <option value='Limoges'></option>
  <option value='Tours'></option>
  <option value='Amiens'></option>
  <option value='Metz'></option>
  <option value='Perpignan'></option>
  <option value='Besançon'></option>
  <option value='Boulogne-Billancourt'></option>
  <option value='Orléans'></option>
  <option value='Rouen'></option>
  <option value='Mulhouse'></option>
  <option value='Caen'></option>
  <option value='Saint-Denis'></option>
  <option value='Nancy'></option>
  <option value='Saint-Paul'></option>
  <option value='Argenteuil'></option>
  <option value='Montreuil'></option>
  <option value='Roubaix'></option>
  <option value='Dunkerque'></option>
  <option value='Tourcoing'></option>
  <option value='Créteil'></option>
  <option value='Avignon'></option>
  <option value='Nanterre'></option>
  <option value='Poitiers'></option>
  <option value='Courbevoie'></option>
  <option value='Fort-de-France'></option>
  <option value='Versailles'></option>
  <option value='Vitry-sur-Seine'></option>
  <option value='Colombes'></option>
  <option value='Asnières-sur-Seine'></option>
  <option value='Aulnay-sous-Bois'></option>
  <option value='Pau'></option>
  <option value='Rueil-Malmaison'></option>
  <option value='Saint-Pierre'></option>
  <option value='Aubervilliers'></option>
  <option value='Champigny-sur-Marne'></option>
  <option value='La Rochelle'></option>
  <option value='Saint-Maur-des-Fossés'></option>
  <option value='Antibes'></option>
  <option value='Calais'></option>
  <option value='Tampon'></option>
  <option value='Cannes'></option>
  <option value='Béziers'></option>
  <option value='Colmar'></option>
  <option value='Saint-Nazaire'></option>
  <option value='Drancy'></option>
  <option value='Bourges'></option>
  <option value='Mérignac'></option>
  <option value='Ajaccio'></option>
  <option value='Issy-les-Moulineaux'></option>
  <option value='Levallois-Perret'></option>
  <option value='Villeneuve-d' Ascq'></option>
  <option value='Quimper'></option>
  <option value='Valence'></option>
  <option value='Noisy-le-Grand'></option>
  <option value='La Seyne-sur-Mer'></option>
  <option value='Antony'></option>
  <option value='Neuilly-sur-Seine'></option>
  <option value='Troyes'></option>
  <option value='Vénissieux'></option>
  <option value='Clichy'></option>
  <option value='Sarcelles'></option>
  <option value='Abymes'></option>
  <option value='Pessac'></option>
  <option value='Ivry-sur-Seine'></option>
  <option value='Chambéry'></option>
  <option value='Niort'></option>
  <option value='Mamoudzou'></option>
  <option value='Lorient'></option>
  <option value='Cergy'></option>
  <option value='Montauban'></option>
  <option value='Saint-Quentin'></option>
  <option value='Cayenne'></option>
  <option value='Villejuif'></option>
  <option value='Beauvais'></option>
  <option value='Hyères'></option>
</datalist>

<datalist id="liste-clients">

</datalist>

<datalist id="liste-permis">
  <option value='A'></option>
  <option value='B'></option>
  <option value='C'></option>
  <option value='D'></option>
  <option value='E'></option>
</datalist>
{% include 'parts/footer.html' %}