{% include 'parts/header.html' %}
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-body">
        <div id="table-default" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th><button class="table-sort" data-sort="sort-type">Type</button></th>
                <th><button class="table-sort" data-sort="sort-licenseplate">Plaque d'immatriculation</button></th>
                <th><button class="table-sort" data-sort="sort-brand">Marque</button></th>
                <th><button class="table-sort" data-sort="sort-model">Modèle</button></th>
                <th><button class="table-sort" data-sort="sort-price">Prix</button></th>
                <th><button class="table-sort" data-sort="sort-usage">Usage</button></th>
                <th><button class="table-sort" data-sort="sort-seats">Sièges</button></th>
                <th><button class="table-sort" data-sort="sort-trucktype">Types de Camion</button></th>
                <th><button class="table-sort" data-sort="sort-volume">Volume</button></th>
                <th><div style="
                  display: block;
                  width: 50px;
              "></div>
              </th>
              </tr>
            </thead>
            <tbody class="table-tbody" id="vehiclestable">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal modal-blur fade" id="modal-create" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title if-create">Nouveau véhicule</h5>
          <h5 class="modal-title if-edit">Modifier un véhicule</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Type</label>
                <select class="form-select" id="modal-create-type">
                  <option value="car">Voiture</option>
                  <option value="truck">Camion</option>
                  <option value="van">Fourgon</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Plaque d'immatriculation</label>
                <input 
                  type="text"
                  class="form-control"
                  name="example-text-input"
                  placeholder="AA-000-AA"
                  data-mask="**-***-**"
                  data-mask-visible="true"
                  id="modal-create-licenseplate">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Marque</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Marque" id="modal-create-brand">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Modèle</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Modèle" id="modal-create-model">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-8">
              <div class="mb-3">
                <label class="form-label">Prix</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Prix" id="modal-create-price">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <!-- Van -->
            <div class="col-lg-6 if-van not-if-any-vehicle">
              <div class="mb-3">
                <label class="form-label">Usage</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Usage" id="modal-create-usage">
              </div>
            </div>
            
            <!-- Car -->
            <div class="col-lg-6 if-car not-if-any-vehicle">
              <div class="mb-3">
                <label class="form-label">Sièges</label>
                <input type="number" class="form-control" name="example-text-input" placeholder="Sièges" id="modal-create-seats">
              </div>
            </div>
            
            <!-- Truck -->
            <div class="col-lg-6 if-truck not-if-any-vehicle">
              <div class="mb-3">
                <label class="form-label">Types de Camion</label>
                <select class="form-select" id="modal-create-trucktype">
                  <option value="benne">Benne</option>
                  <option value="citerne">Citerne</option>
                  <option value="fourgon">Fourgon</option>
                  <option value="plateau">Plateau</option>
                  <option value="remorque">Remorque</option>
                  <option value="frigorifique">Frigorifique</option>
                </select>
              </div>
            </div>

            <div class="col-lg-6 if-truck not-if-any-vehicle">
              <div class="mb-3">
                <label class="form-label">Volume</label>
                <input type="number" class="form-control" name="example-text-input" placeholder="Volume" id="modal-create-volume">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Annuler
          </a>
          <button class="btn btn-primary ms-auto" data-bs-dismiss="modal">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
            <span class="if-create">Créer</span>
            <span class="if-edit">Modifier</span>
            </a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z" />
          <path d="M12 9v4" />
          <path d="M12 17h.01" />
        </svg>
        <h3>Etes vous sûr?</h3>
        <div class="text-muted">Vous êtes sur le point de supprimer <strong id="modal-delete-name"></strong>. Cette
          action est irréversible.</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                Retour
              </a></div>
            <div class="col"><a class="btn btn-danger w-100" data-bs-dismiss="modal" id="modal-delete-confirm">
                Continuer
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'parts/footer.html' %}